.weather-box {
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: max-content;
    border-radius: 7px;
    padding: 14px;

    &__img {
        display: flex;
        justify-content: center;

        img {
            width: 114px;
        }
    }

    &__content{

        h6{
            font-weight: bold;
            color: rgb(49, 47, 47);
        }
    }
}